.card3-container{
    width: 20vw;
    height: 60vh;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 120px;
    margin-top: 70px;
    transform: rotate(20deg) skew(0deg, -5deg);
}
.icon3{
    display: flex;
    flex-direction: row;
}
.icon-3{
    color: green;
    margin: 20px;
    padding: 20px;
    font-size: 30px;
}
.text-3{
    margin-top: 2.5rem;
    margin-left: -30px;
    font-size: 20px;
    font-weight: 600;
}
.text3{
    margin: 20px;
    padding: 20px;
    margin-top: -50px;
    font-size: 20px;
    font-weight: bold;
}
.image3{
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}