.navbar_container {
  width: 100%;
  height: 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-around;

  & .menu_container {
    display: flex;
    align-items: center;
    & .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;

      & .color {
        color: rgb(247, 172, 132);
      }
    }

    & .navbar {
      display: flex;
      justify-content: center;
      align-items: center;
      text-wrap: nowrap;

      & .links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        list-style: none;
      }
    }
  }

  & .action-btn {
    color: rgb(244, 139, 82);
    border:2px solid rgb(244, 139, 82);
    padding: 3px 3px;
  }
    & .menu{
        text-align: right;
        font-size: 30px;
        color: orange;
        cursor: pointer;
        display: none;
    }
    .mobile-navbar {
        display: none;
        position: absolute;
        top: 60px; 
        right: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
        &.mobile_navbar {
          display: block;
        }
  
        .mobile-links {
          list-style: none;
          padding: 0;
          margin: 0;
  
          li {
            padding: 1rem;
            border-bottom: 1px solid #ddd;
          }
        }
      }
}

/* responsive design*/
@media (max-width: 992px) {

    .navbar_container {
        .menu_container {
            .navbar {
                .links{
                    display: none;
                }
            }
        }
        .action-btn{
            display: none;
        }
        .menu{
            display: block;
        }
    }
}
