.main-class{
    width: 100%;
    height: 5rem;
    display: grid;
    grid-template-columns: 5rem 1fr 2fr 1fr 5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo{
    display: flex;
    grid-column: 2/2;
    justify-content: start;
    align-items: center;
    font-size: 1.2rem;
}
 .color{
    color: rgb(247, 172, 132);
 }
 .navbar{
    margin-right: 200px;
 }
.navbar ul{
     height: 5rem;
     display: flex;
     justify-content: space-around;
     align-items: center;
}
.navbar ul li{
    list-style: none;
}
#start-box{
    width: 118px;
    height: 50px;
    margin-left: 200px;
}
#start{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(247, 172, 132 );
    font-size: medium;
    margin-top: 35px;
    border: 2px solid rgb(247,172,132);
}